<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="dlg-container">
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Реквизиты клиента</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="column-raws">

        <div class="column-50">
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Фамилия</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Имя</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Отчество</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Гражданство</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Миграционная карта</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>ID Card</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
        </div>
        <div class="column-50">
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Фамилия</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Имя</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Отчество</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Гражданство</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Миграционная карта</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>ID Card</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Дополнительные реквизиты</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="column-raws">

        <div class="column-50">
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Фамилия</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Имя</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Отчество</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Гражданство</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Миграционная карта</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>ID Card</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
        </div>
        <div class="column-50">
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Фамилия</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Имя</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Отчество</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Гражданство</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>Миграционная карта</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
          <div class="field-100">
            <mat-form-field [appearance]="inputAppearance">
              <mat-label>ID Card</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="onOk()" cdkFocusInitial>Выполнить</button>
</mat-dialog-actions>

