$tbl-header-sticky: #d9e9f5;
$tbl-column-sticky: rgb(222, 233, 242);

$gradient_expansion-panel-header: #daeaf6;
$gradient_header_card: #e2e8ed;
$color_circle_radio_button: #e2e8ed;

$color-toolbar: #d2e5da;

$gradient_oper_title: linear-gradient(to bottom, #e2e8ed 20%, #cedbe5 40%, #8db5c6 100%);

$gradien-mat-expansion-panel_bg: linear-gradient(to bottom, #bf1717 20%, #b3cce0 40%, #dfdfec 100%);
$mat-expansion-panel_color: rgba(0,0,0,.87);
$mat-form-field_bg: white;

